* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    text-align: center;
    background-color: #191919;
}

h1 {
    color: goldenrod;
    padding: 10px;
}

#score {
    display: grid;
    margin: 0px auto 40px auto;
    grid-template-areas:    "name1 name1 pt name2 name2" 
                            "emb1 n1 pt n2 emb2";
    width: 500px;
    padding: 30px;
    border: 5px dashed #252525;
    color: #f5f5f5;
    font-weight: bold;
}

#name-p1 {
    grid-area: name1;
}

#p1 {
    grid-area: emb1;
    width: 70px;
}

#name-p2 {
    grid-area: name2;
}

#p2 {
    grid-area: emb2;
    width: 70px;
}

#num-p1 {
    grid-area: n1;
    height: 100px;
    width: 100px;
    color: #daa520;
    font-size: 60px;
    justify-self: center;
    transform: translateY(18px);
    border-right: 5px dotted tomato;
}

#num-p2 {
    grid-area: n2;
    height: 100px;
    width: 100px;
    color: goldenrod;
    font-size: 60px;
    justify-self: center;
    transform: translateY(18px);
    border-left: 5px dotted tomato;
}

#playerTurn {
    grid-area: pt;
    padding: 0px 15px;
    width: 120px;
    animation-name: zoomInOut;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#round {
    font-size: 0.75rem;
    font-weight: bolder;
    color: goldenrod;
    /* transform: translateX(110px); */
    margin-bottom: 5px;
}

#roundCount {
    display: inline-block;
    color: toma;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #505050;
    color: #f5f5f5;
    font-weight: bold;
    border: 2px solid #101010;
    box-sizing: border-box;
    display: inline-block;
}

.square:hover {
    border: 2px solid goldenrod;
    transition: 200ms;
}

.square:active {
    border: 5px solid tomato;
    transform: scale(1.1);
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\1F6E1";
    font-size: 80px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\2694";
    font-size: 80px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#resultScreen {
    background-color: rgba(0, 0, 0, .99);
    display: none; /* criar script pra transformar de none pra flex */ 
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: white;
    font-size: 1.5em;
    transition: 200ms;
}


#resultScreen button {
    background-color: goldenrod;
    width: 100px;
    margin: 0px auto;
}

.btn {
    display: inline-block;
    color: #101010;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    border: none;
}

#buttons {
    width: 300px;
    height: 140px;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



}

.btn:hover, .btn:active {
    color: whitesmoke;
    transform: scale(1.15);
    transition: 100ms;
}



#restart {
    background-color: goldenrod;
}

#newGame {
    background-color: tomato;
}

@keyframes zoomInOut {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
}

@media screen and (max-width: 580px) {
    #score {
        transform: scale(.88);
        width: 330px;
        grid-template-areas:    "name1 name1 name2 name2" 
                                "emb1 n1 n2 emb2"
                                "pt pt pt pt";
        padding: 30px;
        border: 5px dashed #252525;
        color: #f5f5f5;
        font-weight: bold;
    

    }

    #num-p2 {
        border-left: none;
    }
    
    #playerTurn {
        height: 100px;
        margin: 40px auto 0px auto;
    }

}